<main id="home">
    {{>header}}

    <article>
        <img src="../static/img/{{data.id}}.jpg" alt="Interieur van het restaurant">
        <div>
            <div>
                <h2>{{data.naam}}</h2>
                <p>{{data.prijs}}</p>
            </div>
            <ul>
                {{#each data.tags}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>{{data.omschrijving}}</p>
            <section>
                <form action="/dislike" method="POST">
                    {{!-- <input type="hidden" name="naam" value="{{this.naam}}"><br>
                    <input type="hidden" name="restaurantId" value={{this.id}}><br>
                    <input type="hidden" name="voorkeur" value="dislike"><br> --}}
                    <input type="image" src="../static/img/cancel.png" alt="Dislike button">
                </form>
                <form action="/like" method="POST">
                    {{!-- <input type="hidden" name="naam" value="{{this.naam}}"><br>
                    <input type="hidden" name="restaurantId" value={{this.id}}><br>
                    <input type="hidden" name="voorkeur" value="like"><br> --}}
                    <input type="image" src="../static/img/love.png" alt="Like button">
                </form>
            </section>
        </div>
    </article>

</main>